In [102]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import LeaveOneOut, LeavePOut, KFold, StratifiedKFold, cross_val_score

In [103]:
df = pd.read_csv(r"H:\Programming\Dataset\Machine Learning\placement_regression.csv")
df.head()

   cgpa  package
0  6.25     3.30
1  9.70     5.79
2  8.39     4.68
3  7.59     3.50
4  4.94     2.02

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     500 non-null    float64
 1   package  500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [105]:
new_df = df.iloc[:10,:]
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     10 non-null     float64
 1   package  10 non-null     float64
dtypes: float64(2)
memory usage: 292.0 bytes

In [106]:
new_df.head(3)

   cgpa  package
0  6.25     3.30
1  9.70     5.79
2  8.39     4.68

In [107]:
x=new_df[['cgpa']]
y=new_df['package']

# LinearRegression Model Cross Validate (cv)

In [108]:
p = cross_val_score(LinearRegression(), x, y, cv=5)
p.sort()  # min to max
p

array([-3.58280377, -1.26435152,  0.40288358,  0.95178538,  0.95581717])

# Leave-One-Out

In [109]:
lo = LeaveOneOut()

for train, test in lo.split(x,y): 
    print(train, test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

# Leave-P-Out

In [110]:
lp = LeavePOut(p=2)

for train, test in lp.split(x,y): 
    print(train, test)

[2 3 4 5 6 7 8 9] [0 1]
[1 3 4 5 6 7 8 9] [0 2]
[1 2 4 5 6 7 8 9] [0 3]
[1 2 3 5 6 7 8 9] [0 4]
[1 2 3 4 6 7 8 9] [0 5]
[1 2 3 4 5 7 8 9] [0 6]
[1 2 3 4 5 6 8 9] [0 7]
[1 2 3 4 5 6 7 9] [0 8]
[1 2 3 4 5 6 7 8] [0 9]
[0 3 4 5 6 7 8 9] [1 2]
[0 2 4 5 6 7 8 9] [1 3]
[0 2 3 5 6 7 8 9] [1 4]
[0 2 3 4 6 7 8 9] [1 5]
[0 2 3 4 5 7 8 9] [1 6]
[0 2 3 4 5 6 8 9] [1 7]
[0 2 3 4 5 6 7 9] [1 8]
[0 2 3 4 5 6 7 8] [1 9]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 3 5 6 7 8 9] [2 4]
[0 1 3 4 6 7 8 9] [2 5]
[0 1 3 4 5 7 8 9] [2 6]
[0 1 3 4 5 6 8 9] [2 7]
[0 1 3 4 5 6 7 9] [2 8]
[0 1 3 4 5 6 7 8] [2 9]
[0 1 2 5 6 7 8 9] [3 4]
[0 1 2 4 6 7 8 9] [3 5]
[0 1 2 4 5 7 8 9] [3 6]
[0 1 2 4 5 6 8 9] [3 7]
[0 1 2 4 5 6 7 9] [3 8]
[0 1 2 4 5 6 7 8] [3 9]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 5 7 8 9] [4 6]
[0 1 2 3 5 6 8 9] [4 7]
[0 1 2 3 5 6 7 9] [4 8]
[0 1 2 3 5 6 7 8] [4 9]
[0 1 2 3 4 7 8 9] [5 6]
[0 1 2 3 4 6 8 9] [5 7]
[0 1 2 3 4 6 7 9] [5 8]
[0 1 2 3 4 6 7 8] [5 9]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 7 9] [6 8]
[0 1 2 3 4 5 7 8] [6 9]
[0 1 2 3 4 5 6 9] [7 8]
[0 1 2 3 4 5 6 8] [7 9]
[0 1 2 3 4 5 6 7] [8 9]

In [111]:
p2 = cross_val_score(LinearRegression(), x, y, cv=lp)
p2.sort()  # min to max
p2

array([-19.55275907, -15.3201887 , -14.95138141,  -3.64842706,
        -3.58280377,  -2.67892307,  -2.48782137,  -2.12565674,
        -1.62925751,  -1.26435152,  -0.92225346,  -0.47444799,
        -0.09559128,   0.30939885,   0.37641219,   0.40288358,
         0.4475531 ,   0.46398226,   0.54357337,   0.58643966,
         0.65137294,   0.65467469,   0.66856025,   0.68695428,
         0.70138361,   0.72065539,   0.75809347,   0.78576147,
         0.78901677,   0.8398426 ,   0.84584839,   0.88309331,
         0.9114518 ,   0.92131559,   0.92503516,   0.94424195,
         0.94713061,   0.94847683,   0.95178538,   0.95581717,
         0.96426666,   0.96573002,   0.97354417,   0.97727766,
         0.98818109])

# KFold

In [112]:
kf = KFold(n_splits=3)

for train, test in kf.split(x,y): 
    print(train, test)

[4 5 6 7 8 9] [0 1 2 3]
[0 1 2 3 7 8 9] [4 5 6]
[0 1 2 3 4 5 6] [7 8 9]

In [113]:
p3 = cross_val_score(LinearRegression(), x, y, cv=kf)
p3.sort()  # min to max
p3

array([0.29059799, 0.56320706, 0.89679317])

# StratifiedKFold 
### this will work only in Classificaiton annalysis

# Model final result (min-max)

In [114]:
a = [p.min().item(), p.max().item()]
b = [p2.min().item(), p2.max().item()]
c = [p3.min().item(), p3.max().item()]
idx = ["Normal", "LeavePOut", "KFold"]

result = pd.DataFrame([a, b, c], columns=["Min", "Max"], index=idx)
result

                 Min       Max
Normal     -3.582804  0.955817
LeavePOut -19.552759  0.988181
KFold       0.290598  0.896793